body {
    background-color: #141313;
    padding-top: 80px;
    color: #f5f0f0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ------------------------------------ ZDJĘCIE I TYTUŁ -------------------------------------- */

#profilowe {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px #FF7900 solid;
}

#job_title {
    border: 2px solid #FF7900;
    border-radius: 20px;
    padding: 10px;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container h3 {
    font-size: 25px;
}

.header-container p {
    margin: 0;
    font-size: 20px;
}

/* ------------------------------------ KONTAKT -------------------------------------- */

.main-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
}

.contact-info i {
    color: #FF7900;
    font-size: 22px;
    padding-right: 15px;
}

/* ------------------------------------ KAFELKI -------------------------------------- */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
}

.card {
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.card-inner {
    transform: rotateY(0deg);
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; /* element i jego dzieci wiedzą że jest 3D */
    transform-origin: center; /* obrót względem środka */
    transition: transform 0.7s ease;
}

/*
POSITION RELATIVE - TRAKTUJEMY ELEMENT NIEZALEŻNIE OD STRONY
TJ. JAK ON SIĘ PRZESUWA TO RESZTA STRONY MA GO W DUPIE
POSITION ABSOLUTE - TRAKTUJEMY ELEMENT JAKBY GO NIE BYŁO
ABSOLUTE USUWA DANY ELEMENT Z UKŁADU STRONY I RESZTA STRONY MOŻE WEJŚĆ NA JEGO MIEJSCE
 */

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* padding nie rozszerza kafelka */
}

.card-front {
    background-color: #FF7900;
    font-size: 13px;
    padding: 10px;
}

.card-back {
    background-color: #C85C00;
    transform: rotateY(180deg);
    font-size: 12px;
    padding: 10px;
    color: white;
}

/* ------------------------------------ FORMULARZ -------------------------------------- */

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    min-width: 700px;
    background-color: #141313;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

input, textarea {
    width: 700px;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 14px;
}

input:focus, textarea:focus {
    border-color: #FF7900;
    outline: none;
}

.form_field_labels {
    display: block;
    font-weight: bold;
    margin: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #FF7900;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #C85C00;
}

.form_errors {
    background-color: #FFCDD2;
    border: 2px solid #D32F2F;
    border-radius: 5px;
    text-align: center;
    color: #B71C1C;
    min-width: 500px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
    font-weight: bold;
}

/* ------------------------------------ STOPKA -------------------------------------- */

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    margin-top: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 10px;
}

.social_icons {
    display: flex;
    gap: 20px;
}

.social_icons a {
    text-decoration: none;
    font-size: 20px;
    color: #f5f0f0;
}

.social_icons a:hover {
    text-decoration: none;
    color: #3733ff;
}
