{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aleksandra Winiarczyk</title>
</head>
<body>
<header>
    <p>WITAJ UŻYTKOWNIKU</p>
    <p>Imię: {{ola_info.name}}</p>
    <p>Nazwisko: {{ola_info.surname}}</p>
    <p>Stanowisko: {{ola_info.job_title}}</p>
    <p>Kontakt: {{ola_info.phone_number}} {{ola_info.email}}</p>
    <p>Adres biura: {{ola_info.office_adress}}</p>
    {% if image_url %}
        <img src="{{ image_url }}" alt="Zdjęcie profilowe" width="1000px">
    {% else %}
        <p>Brak zdjęcia</p>
    {% endif %}
</header>
<main>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Wyślij</button>
    </form>
</main>
</body>
</html>